<form action="/PDOMySQL/public/" method="GET">
  <p>id:</p>
  <input name="id">
  <p>Фамилия:</p>
  <input name="surname">
  <p>Имя:</p>
  <input name="name"><br>
  <button>Записать в БД</button>
</form>
